@import "../../global.scss";

body {
    background-color: $bg-2;

    h1 {
        padding: 50px 0;
        text-align: center;
        background-color : $bg-2;
        box-shadow: 0 0 10px 0 inset #00000090;
    }
}