@import "../../../global.scss";

li {
    flex-basis: 100%;
    justify-self: center;
    align-self: center;
    
    h2 {
        color: black;
        position: relative;
        width: 100%;
        text-align: center;
        font-family: $font-title;
        font-weight: 700;
        font-size: 1.5rem;
        margin: 0 25vw 0 0;
    }
}