@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&family=Open+Sans:wght@500&display=swap');

$font-title: 'Montserrat', sans-serif;
$font-alt: 'Open Sans', sans-serif;
$font-main: 'Lato', sans-serif;