@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&family=Open+Sans:wght@500&display=swap');

$font-title: 'Montserrat', sans-serif;
$font-alt: 'Open Sans', sans-serif;
$font-main: 'Lato', sans-serif;
$bg-1: #FFFFFF;
$bg-2: #EFEFEF;
$bg-3: #E0E0E0;
$accent-1: #F02020;
$accent-2: #EF0303;
$accent-3: #E04040;